.page-details {
  .header {
    background-color: transparent;

    .logo-path-wave {
      fill: #fff;
    }

    .logo-path-text {
      fill: #fff;
    }

    .menu-btn {
      border-color: #fff;
      color: #fff;

      &__line {
        background-color: #fff;
      }
    }

    &--minimized {
      background-color: #fff;

      .menu-btn {
        border-color: #333;
        color: #333;

        &__line {
          background-color: #333;
        }
      }
    }

    @include res--tablet {
      &--opened {
        background-color: transparent;

        .menu-btn {
          border-color: #333;
          color: #333;

          &__line {
            background-color: #333;
          }
        }
      }
    }
  }

  .welove {
    color: #fff;
  }

  .wrap {
    margin: 0;
    max-width: 100%;
    background-color: #fff;
  }

  .footer {
    position: relative;
    z-index: 30;
    padding: 0 32px;

    &-container {
      max-width: 1400px;
      margin: 0 auto;
    }

    @include res--tablet {
      padding: 0;
    }
  }
}

.details-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &__table {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 160px;
    max-width: 1400px;
    margin: 0 auto;

    @include res--laptop {
      max-width: 940px;
      padding: 0 50px;
    }
    @include res--tablet {
      padding: 0 5%;
    }
    @include res--mobile {
      padding: 0 20px;
    }
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__title {
    color: #ddd;
    font-size: 66px;
    letter-spacing: 0.5em;
    line-height: 1.6;
    word-break: break-all;
    text-transform: uppercase;

    @include res--laptop {
      font-size: 50px;
    }
    @include res--laptopSM {
      font-size: 45px;
      letter-spacing: 0.4em;
    }
    @include res--tablet {
      line-height: 1.23;
      text-align-last: left;
    }
    @include res--mobile {
      font-size: 32px;
    }

    &-text {
      display: block;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  &__arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 130;
    font-size: 0;
    transform: translateX(-50%);

    &:after {
      display: block;
      content: "";
      width: 37px;
      height: 60px;
      background-color: #000;
    }
  }
}

.details-bodyWrap {
  position: relative;
  z-index: 30;
  background-color: #fff;
  width: 100%;
  margin-top: calc(100vh - 130px);
  padding-top: 120px;
  // padding-bottom: 20px;

  @include res--tablet {
    margin-top: calc(100vh - 110px);
  }
}

.details-body {
  // max-width: 1400px;
  // margin: 0 auto;
}

.projectInfo {
  max-width: 700px;
  margin: 0 auto;

  &__title {
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 24px;
    font-weight: 800;
  }

  &__summary {
    padding: 13px 0 40px;
    font-size: 0;
  }

  &__list {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__list-title {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #222;
    padding-bottom: 14px;
    margin-bottom: 12px;
    border-bottom: 3px solid #222;
    line-height: 1.25;
  }

  &__list-text {
    display: block;
    font-size: 14px;
    color: #444;
    line-height: 2.2;
    font-weight: 500;
  }

  &__text {
    font-size: 14px;
    color: #444;
    line-height: 2.2;
    font-weight: 500;
    font-family: "NotoSans";

    strong {
      font-weight: inherit;
      background: #fffd7f;
    }
  }

  &__btn {
    display: block;
    width: 241px;
    height: 60px;
    padding: 0 70px 0 30px;
    margin-top: 33px;
    font-size: 15px;
    color: #fff;
    background-color: #222;
    background-image: icon(arrow-right, "ffffff");
    background-size: 16px 18px;
    background-position: right 36px top 50%;
    background-repeat: no-repeat;
    border: 2px solid #222;
    border-radius: 3px;
    transition: all 300ms;

    &:hover {
      color: #222;
      background-color: #fff;
      background-image: icon(arrow-right, "222222");
    }
  }
} //end of .projectInfo

.projectVideo {
  position: relative;
  margin: 80px auto 60px;
  max-width: 1902px;
  padding-top: 160px;
  padding-bottom: 160px;

  @include res--laptop {
    padding: 100px 40px 120px;
  }

  &__background {
    // z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 300px;
    height: 645px;
    outline: 3px solid red;
    // background-color: #d5ccbd;
    background-color: #eceee1;

    @include res--laptop {
      height: 73%;
    }
  }

  &__video {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    background: #f4f4f4;
    border-radius: 28px;

    &:after {
      display: block;
      content: "";
      width: 532px;
      height: 167px;
      position: absolute;
      bottom: -167px;
      left: 50%;
      margin-left: -266px;
      @include bgi("project-video-pc");
    }
  }

  .iframe-wrap {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
    @include pointer-none;
    @include select-none;

    iframe {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      font-size: 0;
    }

    .iframe-poster {
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }
} //end of .projectVideo

.projectIcons {
  margin: 60px auto 60px;
  max-width: 1100px;
  &:after {
    @include floatClear;
  }
  &__item {
    float: left;
    width: 20%;
    margin-top: 46px;
  }
  &__image {
    // display: inline-block;
    display: block;
    max-width: 80%;
    height: auto;
    // vertical-align: middle;
    margin: 0 auto;
  }
} //end of .projectIcons

.projectDetails {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 100px;

  &__title {
    display: block;
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    line-height: 1.45;
    color: #222;
  }

  &__text {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 2.2;
    color: #444;
  }
} //end of .projectDetails

.projectImg {
  max-width: 1902px;
  margin: 60px auto;

  .image {
    width: 100%;
  }
} //end of .projectImg

.projectAward {
  max-width: 1400px;
  margin: 72px auto 60px;
  background-size: cover;
  padding: 92px 0;
  @include bgi("award-card-bg", "jpg");

  @include res--tablet {
    padding: 5% 5%;
  }

  &__list {
    width: 100%;
    font-size: 0;
    text-align: center;
  }

  &__item {
    display: inline-block;
    width: 250px;
    height: 400px;
    margin: 45px;
    font-size: 0;
    vertical-align: top;
    @include bgi("award-card-webaward-bg", "jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.5) 18px 25px 30px 0px;

    @include res--desktop {
      width: 230px;
      height: 380px;
      margin: 25px;
    }

    @include res--laptop {
      height: 370px;
      margin: 20px;
      // outline: 3px solid red;
    }
    @include res--laptopSM {
      width: 44%;
      height: auto;
      max-width: 230px;
      margin: 3%;
      // outline: 3px solid yellow;
    }
    @include res--tablet {
      // outline: 3px solid orange;
    }
    @include res--mobile {
      height: auto;
      // outline: 3px solid purple;
    }

    &-inner {
      width: 100%;
      height: 100%;
      padding: 20% 0;
      border: 1px solid rgba(255, 255, 255, 0.05);
      color: #fff;
    }
  }

  &__year {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.24em;
    text-align: center;

    @include res--tablet {
      font-size: 15px;
    }

    &:after {
      display: block;
      content: "";
      width: 83px;
      height: 84px;
      margin: 22% auto 18%;
      background-size: contain;
      background-position: 50% 50%;

      @include res--tablet {
        height: 70px;
        width: auto;
      }
      @include res--mobile {
        height: auto;
        padding-top: 30%;
      }
    }

    .projectAward__item--wa &:after {
      @include bgi("award-card-webaward-icon");
    }
    .projectAward__item--daa &:after {
      @include bgi("studiojt-daa-logo");
    }
    .projectAward__item--award &:after {
      @include bgi("award-card-award-icon");
    }
    .projectAward__item--awwwards &:after {
      @include bgi("awwwards");
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.006em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

    @include res--tablet {
      font-size: 14px;
    }
    @include res--mobile {
      font-size: 12px;
    }
    @include res--mobileSM {
      font-size: 11px;
    }
  }

  &__grade {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #ccc;

    @include res--tablet {
      padding-top: 6px;
      font-size: 13px;
    }
    @include res--mobile {
      padding-top: 4px;
      font-size: 12px;
    }
    @include res--mobileSM {
      font-size: 11px;
    }
  }
} //end of .projectAward

.projectMember {
  padding: 100px 0 12px 0;
  max-width: 700px;
  margin: 0 auto 162px;

  &__title {
    font-size: 26px;
    font-weight: 600;
    color: #222;
    line-height: 1.25;
    margin-bottom: 26px;
  }

  &__part {
    margin-top: 42px;

    &:first-child {
      margin-top: 0;
    }

    &-title {
      display: block;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.025em;
      color: #222;
    }
  }

  .member {
    position: relative;
    display: inline-block;
    width: 70px;
    margin-right: 8px;
    font-size: 0;

    &__profile {
      width: 100%;
    }

    &__name {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgb(9, 1, 254);
      transition: opacity 300ms;
      box-sizing: border-box;

      &-table {
        display: table;
        width: 100%;
        height: 100%;
      }

      &-table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 600;
        color: #fff;
        cursor: default;
      }
    }

    &:hover .member__name {
      opacity: 1;
    }
  }

  &__tag {
    position: relative;
    margin-top: 60px;

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 55px;
      height: 22px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      font-weight: 800;
      line-height: 22px;
      background-color: #222;
      border-radius: 10px;
    }

    &-list {
      display: block;
      height: 22px;
      padding-left: 56px;
    }

    &-item {
      position: relative;
      display: inline-block;
      margin-left: 9px;
      font-size: 14px;
      line-height: 22px;
      color: #444;
      transition: color 300ms;

      &:before,
      &:after {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        width: 0%;
        height: 1px;
        transform: translateY(-50%);
      }

      &:before {
        left: 0px;
      }

      &:after {
        right: 0px;
        background: $blue;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      &:hover {
        color: $blue;

        &:before {
          background: $blue;
          width: 100%;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        &:after {
          background: transparent;
          width: 100%;
          transition: 0s;
        }
      }
    }
  }
} //end of .projectMember

.details-nav {
  position: relative;
  font-size: 0;
  width: 100%;
  max-width: 1400px;
  padding: 0 32px;
  height: 226px;

  &__btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    height: 100%;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: background-color 500ms;
    }

    &:hover {
      background-size: contain;

      &:after {
        background-color: rgba(11, 33, 238, 0.9);
      }

      .details-nav__caption {
        height: auto;
        transform: translateY(70px);
      }

      .details-nav__title:after {
        opacity: 1;
      }

      .details-nav__name {
        opacity: 1;
      }

      .details-nav__background {
        transform: scale(1.3);
      }
    }

    &--prev {
      .details-nav__name:after {
        background-image: icon(arrow-details-left, "fffc00");
      }
    }
    &--next {
      .details-nav__name:after {
        background-image: icon(arrow-details-right, "fffc00");
      }
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 1.3s;
  }

  &__caption {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0;
    // height: 24px;
    width: 100%;
    font-size: 15px;
    @include pointer-none;
    // transform: translateY(-50%);
    text-align: center;
    color: #fff;
    transform: translateY(100px);
    transition: 300ms;
  }

  &__title {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;

    &:after {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $yellow;
    }
  }

  &__name {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    position: relative;
    // visibility: hidden;
    opacity: 0;
    margin-top: 12px;
    padding: 0 5%;
    transition: 300ms;

    &:after {
      display: block;
      margin: 12px auto 0;
      content: "";
      width: 20px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .go-to-list {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 74px;
    height: 74px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.21);
    transform: translate3d(-50%, -50%, 0);
    transition: all 300ms;

    &:hover {
      color: #222;
      background-color: rgba(255, 255, 255, 1);
    }
  }
} //end of .projectMember
